       body {
            width: 100%;
            font: .9em/1.2 Arial, Helvetica, sans-serif;
        }
				h1 {
					margin-left: 170px;
				}
        .desk {
            display: grid;
            grid-template-columns: repeat(4, auto);
						gap: 20px;
						background-color: green;
						width: 630px;
						padding: 20px;
        }

        .desk > div {
						width: 100px;
						height: 100px;
            border-radius: 5px;
            padding: 10px;
            background-color: rgb(207,232,220);
            border: 2px solid rgb(79,185,227);
        }

