.slider {
display: flex;
overflow-x: auto;
width: 200px;
height: 200px;
}

.slide {
flex-shrink: 0;
width: 150px;
height: 150px;
margin-left: 10px;
}

.red {
	background: red;
}

.blue {
	background: blue;
}
.green {
	background: green;
}
.orange { 
	background: orange;
}
.yellow {
	background: yellow;
}

